aiohttp
aiofiles
audio-metadata
fastapi
google
nltk
numpy
opencv-python
pydantic
requests
scikit-learn
six
transformers
typing-extensions
uvicorn
wrapt
yt-dlp
zipp
python-dotenv
aiosmtplib
google-cloud-speech
google-cloud-vision
google-cloud-storage
ffmpeg-python
torch
torchvision
torchaudio
tensorflow
flax
psutil