annotated-types
anyio
attrs
audio-metadata
beautifulsoup4
bidict
bitstruct
Brotli
cachetools
certifi
charset-normalizer
cheroot
click
exceptiongroup
fastapi
ffmpeg-python
future
google
google-api-core
google-auth
google-cloud
google-cloud-core
google-cloud-speech
google-cloud-storage
google-cloud-vision
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
httptools
idna
importlib-metadata
jaraco.functools
joblib
llvmlite
more-itertools
mutagen
nltk
numba
numpy
opencv-python
openai
pandas
pendulum
pprintpp
proto-plus
protobuf
pyasn1
pyasn1-modules
pycryptodomex
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
pytzdata
PyYAML
regex
requests
rsa
six
sniffio
soupsieve
starlette
tbm-utils
tqdm
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
web.py
websockets
wrapt
yt-dlp
zipp
